In [1]:
"""
@author: brianwsyang
@date: Thu Jun 17 2021
"""

'\n@author: brianwsyang\n@date: Thu Jun 17 2021\n'

In [2]:
import numpy as np
import pandas as pd
import re

In [5]:
df = pd.read_csv("interview_data.csv")
df.drop(columns=["exng", "oldpeak", "slp", "caa", "thall"],
        inplace=True)

In [6]:
df.head()

   age  sex  cp  trtbps  chol  fbs  restecg  thalachh  output
0   63    1   3     145   233    1        0       150       1
1   37    1   2     130   250    0        1       187       1
2   41    0   1     130   204    0        0       172       1
3   56    1   1     120   236    0        1       178       1
4   57    0   0     120   354    0        1       163       1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   output    303 non-null    int64
dtypes: int64(9)
memory usage: 21.4 KB

In [9]:
male_df = df[df["sex"] == 1]
female_df = df[df["sex"] == 0]

In [10]:
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000